<footer class="py-4 md:h-20 flex items-center">
    <div class="container flex flex-col md:flex-row md:justify-between">
        <nav class="flex items-center flex-col md:flex-row md:gap-4">
            <a href="/presse">Presse</a>
            <a href="{{ socials.instagram.url }}" target="_blank">
                Instagram
            </a>
        </nav>
        <nav class="flex items-center flex-col md:flex-row md:gap-4">
            <a href="/impressum">Impressum</a>
            <a href="/datenschutz">Datenschutz</a>
        </nav>
    </div>
</footer>