---
title:  "\"Santa Baby\" Removed from All Streaming Services: Eartha Kitt's Family Claims Copyright to Lyrics in Dispute"
description: A copyright dispute with the heirs of Eartha Kitt, performer of "Santa Baby", results in the removal of the original version as well as all covers from all major streaming platforms as soon as December 9, 2022. Fans react in a major outrage on social media, claiming "capitalist interests destroying christmas"
subtitle: A christmas lawsuit
eleventyComputed: 
    ogImage: "{{ site.baseUrl }}/images/eartha.jpg"
---

<img src="/images/eartha.jpg" alt="" class="w-full aspect-[1400/733] object-cover">
<div class="container mt-16 max-w-[750px]">
    <span class="text-base font-bold text-spotify tracking-[2px] uppercase">{{ subtitle }}</span>
    <h1 class="text-5xl font-bold mt-3 mb-8">{{ title }}</h1>
    <p class="text-[14px] tracking-[1px] uppercase mb-[60px]">December 7, 2022</p>
    <div class="pb-3 mb-8 border-b box-border">
        <button
            type="button"
            data-toggle="share-dropdown"
            aria-controls="share-dropdown"
            data-is-focus="false"
            data-yeti-box="share-dropdown"
            aria-haspopup="true"
            aria-expanded="false"
            id="8i1fg5-dd-anchor"
            class="flex">
            <svg width="12" height="16" viewbox="0 0 12 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M5.05263 3.22526L2.02947 6.24L0.842102 5.05263L5.89473 0L10.9474 5.05263L9.76 6.24L6.73684 3.22526L6.73684
                        12.6316H5.05263L5.05263 3.22526ZM11.7895 14.3158V16H0V14.3158H11.7895Z"
                    fill="black"></path>
            </svg>
            <span class="pl-2 uppercase text-[12px] tracking-[1px]">Share</span>
        </button>
    </div>
    <div class="content">
        <p>The holiday classic "Santa Baby" has been removed from all streaming services due to a copyright dispute with the
            family of Eartha Kitt. Eartha Kitt was an American singer and actress known for her distinctive voice and performances
            of songs like "Santa Baby" and "C'est Si Bon." She recorded "Santa Baby" in 1953 and it quickly became a popular
            Christmas song.</p>
        <p>However, the family of Eartha Kitt has recently claimed that they hold the copyright to the song and have requested
            that it be taken down from all streaming services. The dispute centers around who owns the rights to the song's lyrics,
            which were written by Joan Javits and Philip Springer.</p>
        <p>According to the family, Eartha Kitt was only granted a license to record the song and did not receive the rights to
            the lyrics. They argue that the copyright for the lyrics is still held by the songwriters' estates, and that the song
            should not have been made available for streaming without their permission.</p>
        <p>As a result, "Santa Baby" has been removed from popular streaming services like Spotify and Apple Music. The song's
            removal has sparked debate among music fans and copyright experts.</p>
        <h2>Debate over Removal of "Santa Baby" from Streaming Services</h2>
        <p>The removal of "Santa Baby" from streaming services has sparked debate among music fans and copyright experts. Some
            argue that the decision is unfair to Eartha Kitt and her legacy, while others say that the copyright holders have the
            right to control the song's distribution.</p>
        <h2>Copyright Law and the Ongoing Struggle to Balance Artist Rights</h2>
        <p>The removal of "Santa Baby" from streaming services is a reminder of the complexities of copyright law and the
            ongoing struggle to balance the rights of artists and copyright holders. Until the issue is resolved, the fate of "Santa
            Baby" remains uncertain.</p>
        <h2>Outrage on social media</h2>
        <p>The removal of "Santa Baby" has come as a surprise to many fans of the iconic singer, who are expressing their
            disappointment on social media. Some have even started a petition to get the song reinstated on streaming services.
            Until the dispute is resolved, fans of Eartha Kitt and "Santa Baby" will have to find other ways to enjoy the holiday
            classic. This may include purchasing physical copies of the song or seeking out alternative versions by other artists.</p>
    </div>
</div>